<div class="container" id="gameContainer">
  <div class="row" id="gamePageCard">
    <div class="col 6">
      <img id="game-photo" src="{{game.photo_url}}" />
    </div>
    <div class="col s6">
      <div id="game-title"> <h2 >{{game.title}}</h2></div>
      <br/>
       <div><p id="game-desc">{{game.description}}</p></div>
      {{#if logged_in}}
      <button class="btn-small waves-effect waves-light #6a1b9a purple darken-3" id="add-game" type="button">Add game
        <i class="material-icons right">cloud</i>
      </button>
      {{/if}}
    </div>
  </div>
  <div class="row">
    {{#if logged_in}}
    <form id="review-form" class="col s12">
      <textarea class="black-text" id="review-input" type="text" rows="10" tabindex="4"></textarea>
      <button class="btn waves-effect waves-light #6a1b9a purple darken-3" id="post-review" type="submit">
        Post<i class="material-icons right">send</i>
      </button>
    </form>
    {{/if}}

    <div>
      <div id="gamepage-reviews-header">
        <h3>User Reviews</h3>
      </div>
      {{#each reviews as |review|}}
      <div class="row reviewCard">
        <div id="review-split" class="col s3"><a class="userAtag white-text" href="/profile/{{review.user.id}}">{{review.user.username}}</a></div>
        <div class="col s9">{{review.review_content}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


<script src="/js/review.js"></script>
<script src="/js/addGame.js"></script>