<div class="container" id="gameContainer">
  <div class="row" id="gamePageCard">
    <div class="col 6">
      <img id="game-photo" src="{{game.photo_url}}" />
    </div>
    <div class="col s6">
      <h2>{{game.title}}</h2>
      <br/>
      <p>{{game.description}}</p>
      <button id="add-game"> Add game </button>
    </div>
  </div>
  <div class="row">
    {{#if logged_in}}
    <form  class="col s12">
      <input class="black-text" id="review-input" type="text"/>
      <button id="post-review" type="submit">Post</button>
    </form>
    {{/if}}

    <div>
      <div><h3>User Reviews</h3></div>
      {{#each reviews as |review|}}
      <div class="row reviewCard">
        <div class="col s3">{{review.user.username}}</div>
        <div class="col s9">{{review.review_content}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/review.js"></script>
