<div class="profile-container">
    <div class="section">
        <div id="username-title">
            {{user.username}}
        </div>
    </div>

    <div id="username-break"></div>
    <div id="collection-text">Your Collection</div>
    <div class="section collection-section">
        <div class="flexbox row">
            {{#each games as |game|}}

            <div class="gameCard col s3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{game.photo_url}}">
                    </div>
                    <div class="card-action">
                        <a href="/game/{{game.id}}">{{game.title}}</a>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
    <div class="section review-section">
        <div id="user-reviews-header">
            {{user.username}}'s Reviews
        </div>
        <div id="review-break"></div>
        <div>
            {{#each reviews as |review|}}

            <a href="/game/{{review.game_id}}">

                <div class="row reviewCard">
                 <div id="review-game-id" class="col s3">{{review.game_id}}</div>
                <div class="col s9">{{review.review_content}}</div>
            </div>

            </a>

            {{/each}}
        </div>
    </div>
</div>